#top_tl{
	background-color: #303030;
	width: 100%;
	height: 22px;
}
.top_tl_center{
	background-color: #303030;
	width: 960px;
	height: 22px;
	margin:0 auto;
}
.top_tl_center_left{	
	width: 158px;
	height: 22px;
	color: white;
	float: left;	
}
.top_tl_center_left_text{
	margin-right: 23;
}
.top_tl_center_right{
	width: 241px;
	height: 22px;
	color: white;
	float: right;
}
.top_tl_center_right_text{
	margin-right: 20px;
}


.logo{
	background-color: white;
	width: 960px;
	height: 98px;
	margin: 0 auto;

}
.logo_top_left{
	display: block;
	float: left;
	background-color: white;
	width: 30%;
	height: 98px;
	text-align: left;	
}
.logo_top_left_img{
	margin-top: 24px;
}



.search_box{
	display: block;	
	width: 68%;
	height:98px;
	background-color: white;
}

.search_text{
	width: 249px;
	height: 41px;
	border-style: solid;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;	
	margin-top: 27px;
	margin-left: 31px;
	border-color: #a30100;
	float: left;
	border-width: 1px;
	
}

.searchbox_button{
	width: 75px;
	height: 44.5px;	
	border-top-right-radius: 5px;
	border-bottom-right-radius:5px;
	margin-top:27px;
	border-style: none;
	outline: none;
	padding: 0px;
	
}



.logo_top_right{
	width: 267px;
	height: 24px;
	background-color: white;
	float: right;
	margin-top: 38px;
	margin-left: 36px;
	color: #ff0000;	
}
.logo_top_right_font{
	margin: 0;
	padding: 0;
	font-size: 22px;
	font-family: "黑体";
}


#top_bar{
	width: 100%;
	height: 40px;
	margin-top: 15px;
	background-image: url(../images/topbar.jpg);

}

.top_bar_center{	
	width: 880px;
	height: 40px;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	float: left;
	margin-left: 18.5%;
}

.WZZY{
	float: left;
	width: 104px;
	height: 39px;
	background-color: transparent;	
	border-style: none;
	padding: 0;	
	outline: 0 none;
}
.WZZY:hover{
	background: #7d0201;
}


.GSJJ{
	width: 104px;
	height: 39px;
	background-color: transparent;
	border-style: none;
	padding: 0;	
}
.GSJJ:hover{
	background: #7d0201;
}

.YWMS{
	width: 104px;
	height: 39px;
	background-color: transparent;
	border-style: none;
	padding: 0
}
.YWMS:hover{
	background: #7d0201;
}

.FWFW{
	width: 104px;
	height: 39px;
	background-color: transparent;
	border-style: none;	
	padding: 0
}
.FWFW:hover{
	background: #7d0201;
}

.CPZX{
	width: 104px;
	height: 39px;
	background-color: transparent;	
	border-style: none;	
	padding: 0;
}
.CPZX:hover{
	background: #7d0201;
}

.RCGL{
	width: 104px;
	height: 39px;
	background-color: transparent;
	border-style: none;	
	padding: 0;
}
.RCGL:hover{
	background: #7d0201;
}

.ZXLY{
	width: 104px;
	height: 39px;
	background-color: transparent;
	border-style: none;
	padding: 0;
}
.ZXLY:hover{
	background: #7d0201;
}

.LXWM{
	width: 104px;
	height: 39px;
	background-color: transparent;
	border-style: none;
	padding: 0;
}
.LXWM:hover{
	background: #7d0201;
}

#title_img{
	background-color: white;
	width: 960px;
	height:  204px;
	margin: 0 auto;
}

#C_O_P{
	width: 960px;
	height: 640px;
	background-color: white;
	margin: 0 auto;
}

.cop_div{
	width: 65%;
	height: 55%;
	background-color: white;
}

.cop_span{
	display: inline-block;
	width: 100%;
	height: 20%;
	background-color: white;
	margin: 0px;
	padding: 0px;
}

.cop_span_img{
	margin-top: 28px;
}

.cop_span_input{
	float: right;
	border-style: none;
	background-color: transparent;
	color: #d20932;
	font-size: 15px;
	margin-top: 50px;
}

.cop_span_hr{
	color: #c9090a;
	margin: 0px;
	padding: 0px;
	width: 624px;
}

.cop_bottom_div{
	width: 100%;
	height: 77%;
	background-color: white;
	float: left;
}

.cop_bottom_span{
	display: inline-block;
	width: 35%;
	height: 40%;
	background-color: white;
	float: left;
}
.cop_bottom_span img{
	margin-top: 9px;
}

.p1{
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0;
	text-indent: 2em;
}
.p2{
	margin: 0px;
	padding: 0;
	text-indent: 2em;
}
.p3{
	margin: 0;
	padding: 0;
	text-indent: 2em;
}

#I_N_N{
	width: 34%;
	height: 55%;
	background-color: white;
	float: right;
}


.inn_span{
	display: inline-block;
	width: 100%;
	height: 20%;
	background-color: white;
	margin: 0px;
	padding: 0px;
}

.inn_span_img{
	margin-top: 28px;
}

.inn_span_input{
	border-style: none;
	float: right;
	color: #d20932;
	background-color: transparent;
	margin-top: 50px;
	font-size: 15px;
}
.inn_span_hr{	
	color: #c9090a;
	margin: 0px;
	padding: 0px;
	width: 327px;
}

.inn_img{
	margin-top: 8px;
}
.inn_span_span{
	width: 100%;
	height: 25%;
	background-color: white;
	float: left;
}
.inn_img{
	margin-top: 10px;
}

.inn_span_righttext{
	width: 61%;
	height: 100%;
	background-color: white;
	float: right;
}
.inn_p{
	padding: 0px;
	margin: 0px;
	margin-top: 8px;
}

.inn_pp{
	padding: 0px;
	margin:0px;
	text-indent: 2em;
}

.inn_div_bottom{
	display: inline-block;
	width: 70%;
	height: 50%;
	background-color: white;
}

.inn_ul{
	padding-left: 13px;
	list-style-type:square; 
	line-height: 26px;
	margin-top: 0px;
	}

.inn_bottom_time{
	width: 30%;
	height: 50%;
	background-color: white;
	float: right;
}

.inn_time_font{
	margin: 0px;
	padding: 0px;
}

.inn_ul_time{
	list-style: none;
	float: right;
	line-height: 26px;
	margin-top: 0px;
}


.PRR_div{
	width: 100%;
	height: 45%;
	background-color: white;
}

.PRR_div_span{
	display: inline-block;
	width: 100%;
	height:20%;
	background-color: white;
}

.PRR_div_img{
margin-top: 5px;
}

.PRR_div_hr{
	color: #c9090a;
	margin: 0 auto;
}

.PRR_div_Morr{
	border-style: none;
	color: red;
	float: right;
	background-color: transparent;
	margin-top: 26px;
	font-size: 15px;
}

.PRR_div_bottom{
	width: 100%;
	height: 80%;
	background-color: white;
}

.PRR_div_ul{
	margin: 0px;
	padding: 0px;
}
.PRR_div_bottom li{	
	list-style-type: none;
	float: left;
	line-height: 35px;
	padding-left:0px;
	padding-right: 9px;
}

.bottom_div_bar{
	width: 100%;
	height: 80px;
	background-color: #aa1819;
}

.bottom_div_bar_span{
	display: inline-block;
	background-color: transparent;
	width: 960px;
	height: 80px;
	margin-left: 280px;
}

.bottom_div_GYWM{
	background-color: transparent;
	border-width: 0;
	border-right-width: 1px;
	border-right-color: white;
	padding: 0;
	padding-right: 15px;
	margin-top: 30px;
	font-size:16px;
	border-style: solid;
	color: white;
}

.bottom_div_LCFS{
	background-color: transparent;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-right-color: white;
	padding-left: 13px;
	padding-right: 15px;
	font-size: 16px;
	color: white;
}

.bottom_div_GWLL{
	background-color: transparent;
	border-width: 0;
	border-right-width: 1px;
	border-top-color: white;
	color: white;
	padding-left: 13px;
	padding-right: 15px;
	font-size: 16px;
	border-style: solid;
}

.bottom_div_JRWM{
	background-color: transparent;
	border-width: 0;
	border-style: solid;
	padding-left: 13px;
	font-size: 16px;
	color: white;
}

.bottom_div_p{
	float: right;
	color: white;
	margin:0;
	margin-top: 32px;
	font-size: 13px;
}
.bottom_tl{
	width: 100%;
	height: 23px;
	background-color: #303030;
}

.bottom_tl_p{
	display: inline-block;
	margin: 0;
	color: #ff6600;
	margin-left: 282px;
}
.bottom_tl a{
	color: #acacac;
	margin-left: 6px;
}

.right_bottom{
	width: 100%;
	height: 90px;
	background-color: red;
	float: right;
}

.right_bottom{
	width: 100px;
	height: 250px;
	background-color: white;
	margin-top: 370px;
}